/* 设置视频相关的样式 */

.video-player-container {
  display: none; /* 显示时为 block */
  position: relative;
  background: #252525; /* 播放器背景色 */
  padding: 30px;
  height: calc(100vh - 60px); /* 减去内边距后的高度 */
}

.video-player {
  width: 90%;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
