/* 欢迎图标样式 */
.welcome-container {
  display: flex;
  position: relative;
  height: 100%;
}

.welcome-icon {
  filter: contrast(0.85); /* 黑色变浅 */
  width: 50%;
  /* 上下左右居中 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}